<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

	<div class="collapse navbar-collapse" id="navbarColor01">
	<!-- <ul class="navbar-nav mr-auto"> -->
		<ul class="nav navbar-nav navbar-right">
		{% if current_user.is_authenticated %}
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;"><a href="{{url_for('main.index')}}">Home</a></li>
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;"><a href="{{url_for('main.profile',username=current_user.username)}}">Profile</a></li>
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;"><a href="{{url_for('auth.logout')}}">Sign out</a></li>
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;"><a href="{{url_for('main.pitch_list')}}">All Pitches</a></li>
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;"><a href="/pitch/new">New pitch</a></li>
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;">{{current_user.username}}</li>
		{% else %}
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;"><a href="{{url_for('auth.login')}}">Home</a></li>
			<li class="nav-item active" style="color:rgb(255, 255, 255);padding:15px;"><a href="{{url_for('auth.login')}}">Sign in</a></li>
		{% endif %}
		</ul>
	</div>
</nav>